/* PHASE 12: Modal */
.modal-screen {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: yellow;
}

.modal {
  display: none;
}

.is-open {
  display: block;
}