/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
}

/* [class*="icon-small"] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
} */

.icon-comment {
  background-position-y: 0;
}

.icon-reblog {
  background-position-y: -100px;
}

.icon-favorite {
  background-position-y: -50px;
}

.icon-comment:hover {
  background-position-y: -25px;
}

.icon-reblog:hover {
  background-position-y: -125px;
}

.icon-favorite:hover {
  background-position-y: -75px;
}